
.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}




@media screen and (max-width: 640px){
    .banner,.campaign-content{
    flex-direction: column;
}  
    .campaign-content{
      padding: 0px;
    }
}
