
.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}




@media screen and (max-width: 640px){
    .banner,.campaign-content , .impact-item {
    flex-direction: column;
}  
    .campaign-content{
      padding: 0px;
    }
    .impact-item .btn {
      width: 50%
      margin-top: 30px;
      margin: 0px;
    }
   #product-container , .tree-section{
    grid-template-columns: repeat(1,1fr);
   }
}
